[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "vim/bundle/xml.vim"]
	path = vim/bundle/xml.vim
	url = git@github.com:othree/xml.vim.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = git@github.com:edsono/vim-matchit.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
